################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.github
/.vs
/obj/Debug
/obj
/Tests/bin/
/Tests/obj/
/Tests/TestResults/
